// -------------- footer

footer.footer
  .container
     .copyright А это футер, с текстом внутри. Он должен
      |быть прибит к низу окна браузера, <br>не зависимо от количества контента
      | на странице и размера окна
      
// --------------  footer end
  
<!-- build:js js/vendor.js --> 
//bower:js
script(src='/bower/jquery/dist/jquery.js')
//endbower
<!-- endbuild --> 


<!-- build:js js/main.js --> 
script(src="js/main.js")
<!-- endbuild --> 

