// -------------- header

header.header
  .container
    .user
      .user__img-wrapper
        img.user__photo(src="img/scrubs.png" alt="Быстров Борис Викторович")
      .user__info
        .user__name Быстров Борис Викторович
        .user__mail 
          a.user__link(href="mailto:bystrov@gmail.com") bystrov@gmail.com
    .socials

      ul.socials__list
        li.socials__item
          a(class="socials__link gt" href="#" target="_blank") github
        li.socials__item
          a(class="socials__link sk" href="#" target="_blank") skype 
        li.socials__item
          a(class="socials__link vk" href="#" target="_blank") vk
.line        
// -------------- header end
     